<div class="my-4">
<h1 class="titulo">Bienvenidos al mundo de los reptiles</h1>
</div>
<br>
<div class="container">
    <div class="row justify-content-start">
        <div class="textInicio col-7 p-3 rounded-start border-start" style="background-color: #519259af ;">
            <p class="lh-base">Los reptiles son animales que se caracterizan por su piel, recubiertas con escamas o por
                un caparazón protector como es el caso de las tortugas, y además por su forma de desplazarse muy
                particular: arrastrando el vientre por la superficie.
                Los reptiles son generalmente carnívoros pero los hay también herbívoros y omnívoros. Todos son
                ovíparos, nacen de un huevo. La única especie que no tiene cuatro patas es la de las serpientes. La
                mayoría son cazadores y algunos venenosos o constrictores, por lo que son animales exóticos y no son
                mascotas domésticas.
            </p>
           
        </div>

        <div id="carouselExampleCaptions" class="carousel slide col-5" data-bs-ride="carousel">
        <div class="carousel-indicators ">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>
         <div class="carousel-inner rounded-end">
          <div class="carousel-item active">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGFcZOje8khg5QpEk_JG-wSjGmUkX0uAq2EA&usqp=CAU" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Lagarto</h5>
            </div>
          </div>

          <div class="carousel-item rounded-end">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTE103KQhExyQl4dcY0xzfrNUDAFaHzwy2ucA&usqp=CAU" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Serpiente</h5>
            </div>
          </div>

          <div class="carousel-item rounded-end">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7tuc_S-5jb516MOAR9IO3oiMhJ65MmlXfEg&usqp=CAU" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Gueko</h5>
            </div>
          </div>

          <div class="carousel-item rounded-end">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7lTb0bniyr_WSbXDKtZbd45QGf6rduzqjzQ&usqp=CAU" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Tortuga</h5>
            </div>
          </div>

          <div class="carousel-item rounded-end">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmLUDyqxmipLaoJvFKlaeEdx5gNlElBL8anQ&usqp=CAU" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Cocodrilo</h5>
            </div>
          </div>
         </div>
   
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      
        </div>  
    </div>
    

</div>

<br>
<br>

<div class="container">
    <h1>Clasificación</h1>

    <div class="row justify-content-end">
        <div id="carousel2" class="carousel slide col-5" data-bs-ride="carousel">
            <div class="carousel-indicators ">
              <button type="button" data-bs-target="#carousel2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carousel2" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carousel2" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carousel2" data-bs-slide-to="3" aria-label="Slide 4"></button>
              
            </div>
             <div class="carousel-inner rounded-end">
              <div class="carousel-item active">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4nrncekTag4eu1i0EUbXLEM8AkmC8U94g9w&usqp=CAU" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Escamosos</h5>
                </div>
              </div>
    
              <div class="carousel-item rounded-end">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdZN0OBQZvZdUj3L4ye1po3HH6BRZF3HbK5A&usqp=CAU" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Tortugas</h5>
                </div>
              </div>
    
              <div class="carousel-item rounded-end">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSv7slvpdkAPS5ZQ9d138NeBkRr4D9dk1iLiw&usqp=CAU" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Tuataras</h5>
                </div>
              </div>

    
              <div class="carousel-item rounded-end">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTanNrbYibl1mJZJJ9EIiigB8Ad8OoY_LNWlA&usqp=CAU" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Cocodrilos</h5>
                </div>
              </div>
             </div>
       
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel2" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          
            </div>
            
            <div class="textInicio col-7 p-3 rounded border-start" style="background-color: #519259af ;">
            <p class="lh-base">
                La clasificación por tipos u órdenes de reptiles se divide en cuatro grandes grupos:
                <br>
                * Escamosos: lagartos y serpientes con más de tres mil especies.
                <br>
                * Tortugas, más de trescientas especies.
                <br>
                * Tuátaras, dos únicas especies.
                <br>
                * Cocodrilos, más de veinte especies.
            </p>
        </div>
    </div>
</div>

<br>
<br>

<div class="container">

    <h1>Alimentación</h1>

    <div class="row justify-content-start">
        <div class="textInicio col-6 p-3 rounded border-start" style="background-color: #519259af ;">
            <p class="lh-base">
                La mayoría de los reptiles tienen una alimentación combinada, pero también hay un grupo que es
                estrictamente cazador y carnívoro como las serpientes y cocodrilos. Se cree que la elección de la presa
                se relaciona con el olor y el tamaño, especialmente las serpientes que no mastican sus presas. Otros
                reptiles también son carnívoros como las tortugas pero no de forma exclusiva ya que también algunas
                especies comen plantas.
            </p>
        </div>
        
        <div id="carousel3" class="carousel slide col-5" data-bs-ride="carousel">
            <div class="carousel-indicators ">
              <button type="button" data-bs-target="#carousel3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carousel3" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carousel3" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carousel3" data-bs-slide-to="3" aria-label="Slide 4"></button>
             
            </div>
             <div class="carousel-inner rounded-end">
              <div class="carousel-item active">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaTDe4vxLVQHse353-KfIg7nMF8xg8a1X5jQ&usqp=CAU" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Carnivoros</h5>
                </div>
              </div>
    
              <div class="carousel-item rounded-end">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSl1YHuTRjmv_Tmta40KMOaw7L3W2zUJ-KYtg&usqp=CAU" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Insectivoros</h5>
                </div>
              </div>
    
              <div class="carousel-item rounded-end">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT14nw-YPiSSVCu8wtfqJwwJtIbcO2ER7qtsw&usqp=CAU" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5></h5>
                </div>
              </div>
    
              <div class="carousel-item rounded-end">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTanNrbYibl1mJZJJ9EIiigB8Ad8OoY_LNWlA&usqp=CAU" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Herbivoros</h5>
                </div>
              </div>
             </div>
       
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel3" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel3" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>

        
    </div>

    </div>
</div>
