<div class="my-4">
  <h1 class="tutulo-1">Serpientes</h1>
</div>

<div class="container">
  <div class="row">
    <div class="textserp rounded col-8 " style="background-color:#519259af;">
      <p class="lh-base">Las serpientes son un tipo de reptiles que se caracterizan principalmente por la carencia de
        patas. Su anatomía, caracterizada por un cuerpo alargado, está preparada para permitir un desplazamiento sin
        necesidad de extremidades: pueden moverse cómodamente tanto por tierra como por agua.</p>

      <br>
      <p class="lh-base">Tienen la piel recubierta de escamas, un esqueleto que les proporciona mucha flexibilidad y una
        lengua bífida. Algunas especies matan a sus presas por constricción –por ejemplo las boas–, pero otras lo hacen
        mediante el veneno que inoculan con los dientes cuando muerden a sus víctimas. Todos los miembros de esta
        especie son animales carnívoros.</p>
    </div>

    <div class=" imgenserp col-4 rounded-end">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOPnx30i1J1d8PmCwuQq3ttpN6DLKa2FhHJg&usqp=CAU">
    </div>

  </div>
</div>

<br>
<br>

<div class="container">
  <div class="carruselserp">
  <div id="carouselserpiente" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselserpiente" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselserpiente" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselserpiente" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselserpiente" data-bs-slide-to="3" aria-label="Slide 4"></button>

    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSe5H3V1S_GvfIBX4s2ISyJCNIH6guQDbwgEA&usqp=CAU"
          class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnXn0Iju2jG_flmtb87YQG9k_Pg2eMfCRDJA&usqp=CAU"
          class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzJpypHFHznsBDs3gM0vzqqZ4xFy2aiRN-Qw&usqp=CAU"
          class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDGx9BakOa-mcmdhlBG647ZUmmACmNflVkHw&usqp=CAU"
          class="d-block w-100" alt="...">
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselserpiente" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselserpiente" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<br>
<br>

<div class="container text-center">
<iframe width="1027" height="576" src="https://www.youtube.com/embed/ymgvaJePwT4" title="YouTube video player"
  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen></iframe>
</div>
</div>